# env variable
.env

# Youtube Downloads
youtube*

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# test files
test*

# cache files
*.pyc

# JetBrains
workspace.xml
usage.statistics.xml
shelf/